{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <div class="column text-center my-5 mb-5">
<h1 class="text-center">{% trans "Sign In" %}</h1>

<p class="text-center">{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-success" style="width: 250px" type="submit">{% trans "Sign In" %}</button>
</form>
</div>
{% endblock %}
